@page "/"
@using MauiAppNet9Demo.Shared.Services


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<a href="pictures">go to fotos</a>
<a href="picturesweb">go to fotos web </a>

Welcome to your new app running on <em>@factor</em> using <em>@platform</em>.
